	#background{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/background.png');
	}
/*instructions*/
	
	#button5{
		position: absolute;
		top:70px;
		left:1100px;
		width:180px;
		height:30px;
		cursor:pointer;
	}
		
		
	#button6{
		position: absolute;
		top:70px;
		left:1100px;
		width:180px;
		height:30px;
		cursor:pointer;
		visibility:hidden;
	}
	
	#instructions{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/Instruction.png');
		visibility:hidden;
		
	}
	


/* hover layers*/
	
	#hover1{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/hover_personal.png');
		visibility:hidden;
	}


	#button1{
		position: absolute;
		top:680px;
		left:1100px;
		width:200px;
		height:40px;
		cursor:pointer;		
	}
		
	#hover2{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/hover_historic.png');
		visibility:hidden;
	}


	#button2{
		position: absolute;
		top:740px;
		left:1100px;
		width:200px;
		height:40px;
		cursor:pointer;	
	}
	
	#hover3{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/hover_art.png');
		visibility:hidden;
	}


	#button3{
		position: absolute;
		top:800px;
		left:1100px;
		width:200px;
		height:40px;
		cursor:pointer;		
	}
	
	#hover4{
		position: absolute;
		top:0px;
		left:0px;
		width:1382px;
		height:1032px;
		background-image: url('../image/hover_www.png');
		visibility:hidden;
	}


	#button4{
		position: absolute;
		top:860px;
		left:1100px;
		width:200px;
		height:40px;
		cursor:pointer;		
	}

	

		
/* Show personal layer*/
	
	
/* explore art


	
